name: Build & Test
"on":
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
jobs:
  test:
    name: Build & Test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
      with:
        node-version: "24.12.0"
    - name: install pnpm
      run: |
        corepack enable
        corepack prepare
    - name: playwright install
      run: |
        pnpm install
        pnpm exec playwright install --with-deps
    - name: Test
      run: pnpm exec playwright test --reporter=list
    - if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  required-check:
    name: All Tests Passed
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
