name: Build & Test
"on":
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
jobs:
  test:
    name: Build & Test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
    - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
      with:
        node-version: "24.12.0"
    - name: install pnpm
      run: |
        corepack enable
        corepack prepare
    - name: playwright install
      run: |
        pnpm install
        pnpm exec playwright install --with-deps
    - name: Test
      run: pnpm exec playwright test --reporter=list
    - if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  required-check:
    name: All Tests Passed
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
