name: Build & Test
"on":
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
jobs:
  test:
    name: Build & Test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
    - uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
      with:
        node-version: "24.11.1"
    - name: install pnpm
      run: |
        corepack enable
        corepack prepare
    - name: playwright install
      run: |
        pnpm install
        pnpm exec playwright install --with-deps
    - name: Test
      run: pnpm exec playwright test --reporter=list
    - if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  required-check:
    name: All Tests Passed
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
