name: Build & Test
"on":
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
jobs:
  test:
    name: Build & Test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - uses: actions/setup-node@54045abd5dcd3b0fee9ca02fa24c57545834c9cc
      with:
        node-version: "24.14.0"
    - name: install pnpm
      run: |
        corepack enable
        corepack prepare
    - name: playwright install
      run: |
        pnpm install
        pnpm exec playwright install --with-deps
    - name: Test
      run: pnpm exec playwright test --reporter=list
    - if: always()
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  required-check:
    name: All Tests Passed
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
